.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--cyan-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.logo {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--gray-blue);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  height: 40px;
  position: absolute;
  right: 2rem;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--white);
  transition: all 0.3s ease;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: relative;
  padding: 2rem;
  background-color: var(--cyan-blue);
  color: var(--white);
  text-align: center;
}

.social-links a {
  margin: 0 1rem;
  color: var(--white);
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--cyan-blue);
    flex-direction: column;
    width: 200px;
    display: none;
    animation: fadeIn 0.3s ease forwards;
    align-items: center;
    padding-bottom: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    right: 2rem;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
#dev {
  color: gray;
}